.ant-splitter-bar {
  width: 10px !important;
}

/* Main Splitter Bar */
.ant-splitter-bar-dragger::before {
  background: rgba(0, 0, 0) !important;
  width: 2px !important;
  /* border-radius: 20px; */
}

.ant-splitter-bar-dragger:hover:not(.ant-splitter-bar-dragger-active)::before{
  background:rgba(0,0,0) !important
}
.ant-splitter-bar-dragger-active::before {
  background: rgb(90, 90, 90,) !important
}

/* Smaller Icon Within Splitter Bar */
.ant-splitter-bar-dragger::after {
  background: rgba(70, 70, 70) !important
}
.ant-splitter-bar-dragger:hover:not(.ant-splitter-bar-dragger-active)::after{
  background: #1ED760 !important
  /* display: none !important */
}
.ant-splitter-bar-dragger-active::after {
  background: #1ED760 !important
}

/* Showing Spotify Icon on Album Art Hover */
.image-container {
  position: relative;
  display: inline-block;
}

.ant-splitter-bar-dragger {
  width: 10px;
}

.base-image {
  display: block;
  height: 90px;
  aspect-ratio: 1;
  border-radius: 8px;
}

.hover-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 50%;
  aspect-ratio: 1;
}

.image-container:hover .hover-image {
  display: block;
  transition: 0.3s ease-in;
}