.ant-splitter-bar {
  width: 14px !important;
}

/* Main Splitter Bar */
.ant-splitter-bar-dragger::before {
  display: none !important;
}

.ant-splitter-bar-dragger:hover:not(.ant-splitter-bar-dragger-active)::before{
  background:rgba(0,0,0) !important
}

.ant-splitter-bar-dragger-active::before {
  background: rgb(90, 90, 90,) !important
}

/* Smaller Icon Within Splitter Bar */
.ant-splitter-bar-dragger::after {
  background: rgba(70, 70, 70) !important;
  margin-top: 40px;
}
.ant-splitter-bar-dragger:hover:not(.ant-splitter-bar-dragger-active)::after{
  background: #1ED760 !important
}
.ant-splitter-bar-dragger-active::after {
  background: #1ED760 !important
}

.ant-splitter-bar-dragger {
  width: 10px;
}

.ant-radio-button-wrapper:hover {
  color: rgb(158, 158, 158) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: transparent !important;
}

.radio-group {
  border: 1px solid black;
  border-radius: 100px;
}
.radio-group:hover {
  border: 1px solid rgb(46, 46, 46);
  transition: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.radio-button:hover {
  background-color: rgb(31, 31, 31);
  transition: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

/* Showing Spotify Icon on Album Art Hover */
.image-container {
  position: relative;
  display: inline-block;
}

.base-image {
  display: block;
  height: 90px;
  aspect-ratio: 1;
  border-radius: 8px;
}

.hover-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 50%;
  aspect-ratio: 1;
}

.image-container:hover .hover-image {
  display: block;
  transition: 0.3s ease-in;
}